* {
    padding: 0;
    margin: 0;
    font-family: 'Cairo', sans-serif;
}
/*
.m-header {
    background-color: #7f81bf;
    background-image: url(../media/cover.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}*/

.toggle-menu {
    display: block;
    fill: white !important;
}
/*
header {
    padding-top: 30px;
}
*/
.header-nav {
    display: none;
}

.header-div {
    position: absolute;
    z-index: 9999;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    padding: 20px 40px;
    transition: all 1s ease;
}

.parent-of-nav-list {
    display: none;
}

.menu-and-media {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 115px;
    height: auto;
}

.list-of-media {
    display: flex;
    list-style-type: none;
}

.list-of-media a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

.nav-list {
    display: flex;
    margin-bottom: 0;
}

.svg-open {
    height: 30px;
}

.svg-close {
    height: 30px;
}

.m-h1,
.m-p-header {
    color: white;
}

.resp-w {
    width: 60%;
}

.m-nav {
    position: absolute;
    top: 30px;
    left: 50%;
    z-index: 9;
    transform: translateX(-50%);
}

.m-h1 {
    font-size: min(14vw, 100px);
    margin-bottom:  0 !important;
    /*height: 62px;*/
}

.web-color {
    font-weight: 600;
}

.m-h1-div {
    transform: translateY(5px);
    overflow: hidden;
}

.m-div::after {
    content: "";
    background-color: #ffffff;
    height: 2px;
    width: 10%;
    display: block;
    margin: 5px auto;
}

.header-row {
    margin-right: 0 !important;
    margin-left: 0 !important;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.m-btn {
    width: 100%;
    max-width: 250px;
    height: 50px;
    border: none;
    background: #F1C40F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.m-item {
    /* width: 90%; */
    height: 100%;
    padding: 30px 20px;
    background-color: #FFFFFF;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 10%);
}

.m-item-service {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.m-img-div {
    margin: 0 auto;
}

.header-p {
    font-size: 14px;
    line-height: 2;
    text-align: right;
}

.h3-after::after {
    content: "";
    height: 2px;
    background: #7f81bf;
    width: 35px;
    display: block;
    margin: 7px auto;
}

.item-of-slick {
    text-align: center;
}

.m-avatr {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    margin:  0 auto;
}

.m-avatr img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item-of-slick h4 {
    font-size: 15px;
    font-weight: 500;
}

.item-of-slick strong {
    font-size: 13px;
    font-weight: 500;
}

.slick-section {
    background-color: #edf2f7;
    overflow: hidden;
    /* background-color: #E5E5E5; */
}

.what-say {
    background-color: #f7fafc;
    padding: 1rem;
    width: 90%;
    margin: 0 auto;
}

.what-say p {
    line-height: 1.75;
    font-size: 15px;
}

footer {
    background-color: #1A202C;
    color: white;
    padding: 30px 0 15px;
}

footer a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}

footer ul {
    list-style-type: none;
}

footer ul li {
    margin-bottom: 10px;
}

.div-item {
    margin-bottom: 2rem;
}

.div-item h4 {
    margin-bottom: 25px;
}

svg {
    fill: #7f81bf;
}

.what-say .svg {
    height: 20px;
}

.svg-block {
    justify-content: center
}

.list-of-arrows {
    display: none;
}

.text-muted {
    color: #868e96!important;
}

.img-fl {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.row-rev {
    flex-direction: column-reverse;
}

.mg-b {
    margin-bottom: 20px;
}

.contact-div {
    background-color: #aa73b1;
}

.call-btn {
    justify-content: center;
}

.fol,
.text-fol {
    width: 100%;
    border: none;
    padding: 10px;
    outline: none;
}

.fol {
    height: 40px;
}

.arrow-list {
    display: none;
}

.div-desk-flex .d-flex {
    justify-content: center;
}

.header-nav a::after{
    content: "";
    display: block;
    width: 100%;
    margin-top: 5px;
    height: 2px;
    background-color: transparent;
}

.header-nav a:hover::after{
    background-color: white;
}

.our-project .row > div {
    text-align: center;
}

.our-project-img {
    height: 200px;
    width: 100%;
    background: url(https://images.pexels.com/photos/10161004/pexels-photo-10161004.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 18px;
}

.our-project-img h4 {
    font-weight: 700 !important;
}

.fl-row {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.our-project-img div {
    height: 100%;
    width: 100%;
    background-color: #7f81bf;
    display: grid;
    place-content: center;
    opacity: 0;
    transition: .5s ease;
    cursor: pointer;
}

.our-project-img div:hover {
    opacity: 1;
}


.mobile-menu {
    background-color: white;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100vw;
    z-index: 99999999;
    overflow: hidden;
    display: none;
    padding: 20px 40px;
}
.mobile-list{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mobile-list ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
}

.mobile-list li {
    padding: 15px 0;
}

.mobile-list a {
    text-decoration: none;
    font-size: 30px;
    color: black;
    font-weight: 600;
}

.media-div {
    position: absolute;
    bottom: 20px;
    left: 40px;
    right: 40px;
}

.media-div a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-weight: 600;
}

.media {
    list-style-type: none;
    padding: 0;
}

.media li {
    padding: 0 10px;
}

.content {
    overflow: hidden;
}




body {
    overflow-x: hidden;
}

header {
    position: relative;
    display: block;
    height: 100vh;
    overflow: hidden;
}

.slideshow {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.slideshow .slider {
    width: 100vw;
    /*height: 100vw;*/
    z-index: 2;
}
.slideshow .slider * {
    outline: none;
}
.slideshow .slider .item {
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
    border: none;
}
.slideshow .slider .item .text {
    display: none;
}
.slideshow .slider .item img {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}
.slideshow .slick-dots {
   position: absolute;
    z-index: 100;
    width: 40px;
    height: 30px;
    bottom: auto;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    left: auto;
    color: #fff;
    display: block;
}
.slideshow .slick-dots li {
    display: block;
    width: 100%;
    height: auto;
}
.slideshow .slick-dots li button {
    position: relative;
    width: 20px;
    height: 15px;
    text-align: center;
}
.slideshow .slick-dots li button:before {
    content: "";
    background: #fff;
    color: #fff;
    height: 2px;
    width: 20px;
    border-radius: 0;
    position: absolute;
    top: 50%;
    right: 0;
    left: auto;
    transform: translateY(-50%);
    transition: all 0.3s ease-in-out;
    opacity: 0.6;
}
.slideshow .slick-dots li.slick-active button:before {
    width: 40px;
    opacity: 1;
}
.slideshow.slideshow-right {
    left: 0;
    z-index: 1;
    width: 50vw;
    pointer-events: none;
}
.slideshow.slideshow-right .slider {
    left: 0;
    position: absolute;
}

.slideshow-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    font-size: max(20px, 4vw);
    width: 100vw;
    text-align: center;
    color: #fff;
    font-weight: 100;
    pointer-events: none;
    text-transform: uppercase;
}


.the-most {
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 50vw;
    max-width: 200px;
    padding: 10px;
}
.the-most img {
    max-width: 100%;
}