* {
    padding: 0;
    margin: 0;
    font-family: 'Cairo', sans-serif;
}
/*
.m-header {
    background-color: #7f81bf;
    background-image: url(../media/cover.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}*/

.toggle-menu {
    display: block;
    fill: white !important;
}
/*
header {
    padding-top: 30px;
}
*/
.header-nav {
    display: none;
}

.m-h1,
.m-p-header {
    color: white;
}

.resp-w {
    width: 60%;
}

.m-nav {
    position: absolute;
    top: 30px;
    left: 50%;
    z-index: 9;
    transform: translateX(-50%);
}

.m-h1 {
    font-size: min(14vw, 100px);
    /*height: 62px;*/
}

.m-h1::after {
    content: "";
    background-color: #ffffff;
    height: 2px;
    width: 10%;
    display: block;
    margin: 5px auto;
}

.header-row {
    margin-right: 0 !important;
    margin-left: 0 !important;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.m-btn {
    width: 100%;
    max-width: 250px;
    height: 50px;
    border: none;
    background: #F1C40F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.m-item {
    /* width: 90%; */
    height: 100%;
    padding: 30px 20px;
    background-color: #FFFFFF;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 10%);
}

.m-item-service {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.m-img-div {
    margin: 0 auto;
}

.header-p {
    font-size: 14px;
    line-height: 2;
    text-align: right;
}

.h3-after::after {
    content: "";
    height: 2px;
    background: #7f81bf;
    width: 35px;
    display: block;
    margin: 7px auto;
}

.item-of-slick {
    text-align: center;
}

.m-avatr {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    margin:  0 auto;
}

.m-avatr img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item-of-slick h4 {
    font-size: 15px;
    font-weight: 500;
}

.item-of-slick strong {
    font-size: 13px;
    font-weight: 500;
}

.slick-section {
    background-color: #edf2f7;
    overflow: hidden;
    /* background-color: #E5E5E5; */
}

.what-say {
    background-color: #f7fafc;
    padding: 1rem;
    width: 90%;
    margin: 0 auto;
}

.what-say p {
    line-height: 1.75;
    font-size: 15px;
}

footer {
    background-color: #1A202C;
    color: white;
    padding: 30px 0 15px;
}

footer a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}

footer ul {
    list-style-type: none;
}

footer ul li {
    margin-bottom: 10px;
}

.div-item {
    margin-bottom: 2rem;
}

.div-item h4 {
    margin-bottom: 25px;
}

svg {
    fill: #7f81bf;
}

.what-say .svg {
    height: 20px;
}

.svg-block {
    justify-content: center
}

.list-of-arrows {
    display: none;
}

.text-muted {
    color: #868e96!important;
}

.img-fl {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.row-rev {
    flex-direction: column-reverse;
}

.mg-b {
    margin-bottom: 20px;
}

.contact-div {
    background-color: #7f81bf;
}

.call-btn {
    justify-content: center;
}

.fol,
.text-fol {
    width: 100%;
    border: none;
    padding: 10px;
    outline: none;
}

.fol {
    height: 40px;
}

.arrow-list {
    display: none;
}

.div-desk-flex .d-flex {
    justify-content: center;
}

.header-nav a::after{
    content: "";
    display: block;
    width: 100%;
    margin-top: 5px;
    height: 2px;
    background-color: transparent;
}

.header-nav a:hover::after{
    background-color: white;
}

.our-project .row > div {
    text-align: center;
}

.our-project-img {
    height: 200px;
    width: 100%;
    background: url(http://www.sam-coding.com/static/518ddfdb8bf2d1d168331ffb4a055227/e4d72/02-full.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 18px;
}

.our-project-img h4 {
    font-weight: 700 !important;
}

.fl-row {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.our-project-img div {
    height: 100%;
    width: 100%;
    background-color: #7f81bf;
    display: grid;
    place-content: center;
    opacity: 0;
    transition: .5s ease;
    cursor: pointer;
}

.our-project-img div:hover {
    opacity: 1;
}


.mobile-menu {
    background-color: white;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100vw;
    z-index: 999;
    overflow: hidden;
    display: none;
}
.mobile-list{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mobile-list ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
}

.mobile-list li {
    padding: 15px 0;
}

.mobile-list a {
    text-decoration: none;
    font-size: 30px;
    color: black;
}

.media-div {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%)
}

.media {
    list-style-type: none;
    padding: 0;
}

.media li {
    padding: 0 10px;
}